/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body { background-color: #F4F4F4; }
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
p { margin: 10px auto !important; }
h1, h2, h3, h4, h5, h6 { font-size: revert; }
.container-header {
  display: block;
  margin: 30px 30px;
}
.title-name {
  border: 1px solid;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.date p { margin: 0 !important;}
.date {
  position: relative;
  background-color: #3B3A38;
  color: white;
  top: -13px;
  left: 85px;
  font-family: 'Playfair Display', sans-serif;
  width: 60px;
}
.info-name-title {
  text-transform: uppercase;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}
.contact p {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-underline-position: under;
}
.contact p span { display: block; }
.contact p span .fas, .contact p span .fab {
  font-size: 17px;
  margin-right: 10px;
}
/* MAIN */
.container-main {
  display: block;
  padding: 10px 10px;
  background-color: #363636;
  color: white;
}
.studies-hobbies {
  background-color: #F4F4F4;
  display: block;
  padding: 10px 10px;
}
.skills-experience {
  display: flex;
}
.skills-experience h4 { font-size: 19px; }
.title-experience, .title-skills {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: #4c4b4b;
  margin: 5px auto;
  padding: 15px 15px;
  width: 95%;
}
.title-experience h3, .title-skills h3 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.fas { font-size: 24px; }
.experience, .skills {
  width: 90%;
  margin: 0 auto;
}
.experience-block, .skills-block {
  background-color: #4c4b4b;
  margin: 5px auto;
  padding: 15px 15px;
  width: 95%;
}
.studies-top, .interests-top {
  padding-top: 20px;
  text-align: center;
}
.studies-top h3, .interests-top h3 {
  display: inline-block;
  padding-right: 10px;
}
.studies-interest, .hobbies-interests {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  width: 90%;
  margin: 30px auto;
}
.interests-top-p {
  text-align: center;
}
.studies-skills span, .hobbies span {
  font-weight: bold;
  padding-right: 10px;
}
.studies-skills span:after, .hobbies span:after { content: ' :' }
.hobbies, .studies-skills {
  padding: 20px 20px;
  width: 70%;
  margin: 0 auto;
}
.hobbies ul { line-height: 1.9; }
/* FOOTER */
.cover-letter {
  margin: 0 auto;
  width: 70%;
}
.cover-letter h3 {
  text-align: center;
  padding: 20px 20px;
  margin: 0;
}
.letter {
  padding-bottom: 35px;
  line-height: 1.9;
}
.letter p { margin: 0; }
footer {
  text-align: center;
  padding: 5px 10px;
  background-color: #3B3A38;
  color: white;
}
@media only screen and (max-width: 1000px) {
  .experience, .skills { width: 100% !important; }
  .skills-experience {
    display: block !important;
    width: auto;
  }
  .title-name { width: auto; }
  .contact {
    display: block !important;
    text-align: center;
  }
  .studies-interest, .hobbies-interests, .cover-letter { width: auto; }
}